*,*::before,*::after{
    margin:0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: var(--primary-text-color);
    padding: 20px;
    background-color: var(--background-color);
}

:root{
    --background-color: whitesmoke;
    --secondary-table-color: lightgrey;
    --primary-text-color: rgb(13,13,13);
    --primary-table-header-color: rgba(92, 145, 76, 0.603);
    --secondary-text-color: var(--primary-text-color);
    --cell-text-size: 16px;
    --table-header-size: 20px;
}

h1, h2{
    color: var(--primary-text-color);
    text-align: center;
}

section{
    width: 100%;
}

table{
    margin-top: 20px;
    width:100%;
    border: 1px solid rgb(45, 45, 45);
    border-collapse: collapse;
}
table td{
    text-align: center;
    font-size: var(--cell-text-size);
}
table th{
    font-size: var(--table-header-size);
}
.expenses-table .table-headers :nth-of-type(1){
    background-color: var(--background-color);
}
.expenses-table .table-headers :nth-of-type(even){
    background-color: var(--primary-table-header-color);
}
.expenses-table .row-data :nth-of-type(even){
    background-color: var(--primary-table-header-color);
}
.expenses-table .table-headers :nth-of-type(3){
    background-color: var(--secondary-table-color);
}
.expenses-table .row-data :nth-of-type(3){
    background-color: var(--secondary-table-color);
}

a{
    background-color: var(--background-color) !important;
    text-decoration: none;
    color: var(--primary-text-color);
}

.actions-cell{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.delete-btn{
    color:red;
    font-weight: 900;
}

main{
    padding:50px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
}